body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.navbar {
    overflow: hidden;
    background-color: #4E8098;
    padding: 0px 16px;
}

.navbar a {
    float: left;
    text-align: center;
    color: whitesmoke;
    padding: 16px;
    font-size: 17px;
    margin: 0px 4px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    background-color: whitesmoke;
    color: #4E8098;
}

.container{
    padding: 20px;
}

.button {
    display: inline-block;
    width: 100px;
    background-color: #4E8098;
    color: whitesmoke;

    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #4E8098;

    font-size: 16px;
    margin: 0px 10px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
    background-color: whitesmoke;
    color:#4E8098;
}

.cent {
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.flexbox-item {
    padding: 20px;
    border-style: solid;
    border-color: #4E8098;
}

.ten-percent {
    width: 10%;
}

.eighty-percent{
    width:80%;
}
